{% extends "layout.html" %}
{% block content %}
    <div class="user__projects__head">
        <h3 class="side-bar__title ml-0 mb-0">Edit Post</h3>
    </div>
    <div class="container">
      <table id="full-table">
        <tr>
          <td id="first">
            <img src="{{ url_for('static', filename='project_logos/' + post.logo_file) }}" alt="product-logotype" width="80px" height="80px" class="project__logo">
          </td>
          <td id="second">
            <div class="description">
              <a href="/dir/{{post.tag.tag}}/project/{{post.title}}"><h3 class="project__title">{{ post.title }}</h3></a>
              <p class="project__desc">{{ post.description }}</p>
            </div> <!-- description -->
            <div class="row second-string">
              <a class="project__icon mt-2 ml-0" href="#"><img width="25px" height="25px" src="/static/icons/comments.png" alt="comment-icon">{{ post.comments|length + post.replies|length }}</a>
              <a class="project__icon mt-2 mr-2 ml-0 sub-icon" href="#"><img width="22px" height="22px" src="/static/icons/subs.png" alt="sub-icon">{{ post.subscribers|length }}</a>

              {% if current_user.is_authenticated and current_user.follows_post(post) %}
              <form action="/dir/{{ post.tag.tag }}/project/{{ post.title }}/unsubscribe" method="post">
              <button class="heart d-flex mr-2"><i class="fas fa-heart heart1"></i><i class="fas fa-heart-broken heart2"></i></button>
              </form>
              {% endif %}
              <div class="direct-icon mr-1"><a href="/dir/{{ post.tag.tag }}"><p>/{{ post.tag.tag }}</p></a></div>
            </div>
          </td>
          <td id="third">
            <span class="project__tides"><img src="/static/icons/waves.png" width="50px" height="50px" alt="waves">+{{ post.stage }}</span>
          </td>
        </tr>
      </table>

    <form method="POST" action="/dir/{{post.tag.tag}}/project/{{post.title}}/edit" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <!--project name-->
      {{ form.posttitle.label(class="input-name") }}
      {{ form.posttitle(class="disscus-input col-12") }}
      <!--project description-->
      {{ form.postdescription.label(class="input-name") }}
      {{ form.postdescription(class="disscus-input col-12") }}
      <!--project link-->
      {{ form.postlink.label(class="input-name") }}
      {{ form.postlink(class="disscus-input col-12") }}
      <!--project logo-->
      {{ form.postlogo.label(class="input-name") }}
      {{ form.postlogo(class="disscus-input tide__input col-12") }}
      <!--project images-->
      {{ form.postimages.label(class="input-name") }}
      {{ form.postimages(class="disscus-input tide__input col-12") }}
      <!--project content-->
      {{ form.postcontent.label(class="input-name") }}
      {{ form.postcontent(class="disscus-input tide__input col-12") }}
      <div class="row show-more mt-5 mb-5">
        {{ form.postsubmit(class="button form-submit align-self-center col-12") }}
      </div>
    </form>
    </div> <!-- container -->
{% endblock content %}
